/* RESPONSIVENESS */

@media screen and (max-width: 1280px) {
  .projectTitleContent {
    width: 80vw;
  }

  .projectContent img {
    max-width: 60vw;
  }

  .porjectBottomMain {
    max-width: 80%;
  }

  .footerMain {
    min-width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  .projectTitleContent {
    width: 80vw;
  }

  .projectContent img {
    max-width: 70vw;
  }

  .porjectBottomMain {
    max-width: 90%;
    min-width: 80%;
  }
  .projectContentBottom {
    min-width: 70%;
  }

  .footerMain {
    min-width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .projectTitleContent {
    width: 100vw;
    min-width: 600px;
  }

  .projectContent img {
    max-width: 85vw;
    min-width: 400px;
  }

  .porjectBottomMain {
    max-width: 100%;
    min-width: 70%;
  }
  .projectContentBottom {
    min-width: 80%;
  }

  .footerMain {
    min-width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .projectTitleContent {
    width: 100vw;
    min-width: 600px;
  }

  .projectContent img {
    max-width: 85vw;
    min-width: 400px;
  }

  .porjectBottomMain {
    max-width: 100%;
    min-width: 80%;
  }
  .projectContentBottom {
    min-width: 90%;
  }

  .footerMain {
    min-width: 80%;
  }
}
