.projectTitle {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(/public/image/common-bg.svg);
  background-size: cover;
  background-position: center;
  padding: 7rem 1rem;
}

.projectTitleContent {
  width: 60vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.projectTitleContent h1 {
  font-size: 50px;
}

.projectTitleContent p {
  max-width: 70ch;
  font-size: 22px;
}

/* projectContent */

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  margin-top: 5rem 0;
  padding: 5rem 0;
}

.projectContent img {
  max-width: 50%;
  max-height: 50%;
}

.projectContentBottom {
  display: flex;
  width: 90vw;
  margin-top: 50px;
  justify-content: center;
  /* min-height: 5000px; */
}

.porjectBottomMain {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 50vw;
  transition: 500ms ease;
}

.bottomTitle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 0.5px;
}

.bottomTitle p {
  font-size: 18px;
}

.liveLink-Anchor {
  text-decoration: none;
}

.bottomLive {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
